.title {
	margin-left: 50px;
}
.list {
	list-style: none;
	}
.listDetails {
	padding-bottom: 10px;
	list-style: none;
}

.name {

	font-weight: bold;
}

.calculator {
	margin-left: 70px;
	border-radius: 5px;
	padding: 5px;
	font-size: 18px;
	background-color: #3FB180;
	color: white;
}

.calculator:hover {
	background: white;
	color: #3FB180;
	font-size: 20px;
	box-shadow: inset 0 0 0 3px #3FB180;
}

.result {
	margin-left: 100px;
	padding-top: 20px;
	font-weight: bold;
	color: red;
	font-size: 24px;
		
}
